<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<p>
  Huhu <ion-icon name="pizza"></ion-icon>
</p>
</ion-content>
