<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title *ngIf="!group">
            {{ 'colonyList.title' | translate }}
        </ion-title>
        <ion-title *ngIf="group">
            {{ group.name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <colony-list-item [colony]="item" *ngFor="let item of items | async">
    </colony-list-item>

    <ion-fab right bottom>
        <button ion-fab (click)="addColony()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>