<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'groupList.title' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addGroup()">
            <ion-icon name="add"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of groups | async">
      <ion-item>{{ item.name }}</ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editGroup(item)">
            <ion-icon name="brush"></ion-icon>
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>