<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ colony.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="submitForm()">
          <ion-icon name="flower"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="colonyForm" (ngSubmit)="submitForm()" #documentEditForm>
    <ion-item>
      <ion-label floating>{{ 'colonyEdit.name' | translate }}</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <p *ngIf="colonyForm.controls.name.errors && colonyForm.controls.name.dirty ">
      <small class="up">
        <strong> <i>{{ 'colonyEdit.errors.name' | translate }}</i></strong>
      </small>
    </p>
    <ion-item>
      <ion-label floating>{{ 'colonyEdit.locationName' | translate }}</ion-label>
      <ion-input type="text" formControlName="locationName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'colonyEdit.isHive' | translate }}</ion-label>
      <ion-checkbox formControlName="isHive"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'colonyEdit.isNucleus' | translate }}</ion-label>
      <ion-checkbox formControlName="isNucleus"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ 'colonyEdit.group' | translate }}</ion-label>
      <ion-select formControlName="Group">
        <ion-option *ngFor="let group of groups | async" [value]="group">{{ group.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ 'colonyEdit.additionalInformation' | translate }}</ion-label>
      <ion-textarea formControlName="additionalInformation"></ion-textarea>
    </ion-item>
  </form>
</ion-content>