<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ colony.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="edit()">
          <ion-icon name="brush"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p [innerHtml]="colony.formatedAdditionalInformation"></p>
</ion-content>