<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="openPage('ColonyListPage')">{{ 'menu.colonies' | translate }}</button>
      <ion-list>
        <button menuClose ion-item *ngFor="let item of items | async" (click)="openGroupPage(item)">{{ item.name }}</button>
      </ion-list>
      <button menuClose ion-item (click)="openPage('GroupListPage')">{{ 'menu.groups' | translate }}</button>
      <button menuClose ion-item (click)="openPage('AboutPage')">{{ 'menu.about' | translate }}</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>