<ion-card (tap)="goToColony(colony)">
  <ion-card-header>{{ colony.name }}</ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="pizza" [ngClass]="{ 'active': colony.isHive, 'inactive': !colony.isHive }"></ion-icon>
          <ion-icon name="leaf" [ngClass]="{ 'active': colony.isNucleus, 'inactive': !colony.isNucleus }"></ion-icon>
          <span *ngIf="colony.locationName && colony.locationName.length > 0"><ion-icon name="pin"></ion-icon> {{colony.locationName}}</span>
        </ion-col>
        <ion-col *ngIf="colony.numQueenPad">
          <span title="The number of pads on the queen"><ion-icon name="basketball"></ion-icon> {{ colony.numQueenPad}}</span>
        </ion-col>
        <ion-col *ngIf="colony.queenYear">
          <ion-icon name="git-branch"></ion-icon> {{ colony.queenYear }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{ colony.additionalInformation }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>