colony-list-item {
    ion-grid.grid {
        padding: 0;

        ion-col.col:first-child {
            padding-left: 0;
        }
    }

    ion-icon.active {
        color: red;
    }

    ion-icon.inactive {
        color: blue;
    }
}
